CREATE TABLE admisionv1.activity_logs LIKE admisionv1_old.activity_logs; INSERT INTO admisionv1.activity_logs SELECT * FROM admisionv1_old.activity_logs;
CREATE TABLE admisionv1.administrativos LIKE admisionv1_old.administrativos; INSERT INTO admisionv1.administrativos SELECT * FROM admisionv1_old.administrativos;
CREATE TABLE admisionv1.anios LIKE admisionv1_old.anios; INSERT INTO admisionv1.anios SELECT * FROM admisionv1_old.anios;
CREATE TABLE admisionv1.apoderado LIKE admisionv1_old.apoderado; INSERT INTO admisionv1.apoderado SELECT * FROM admisionv1_old.apoderado;
CREATE TABLE admisionv1.archivos_simulacro LIKE admisionv1_old.archivos_simulacro; INSERT INTO admisionv1.archivos_simulacro SELECT * FROM admisionv1_old.archivos_simulacro;
CREATE TABLE admisionv1.areas LIKE admisionv1_old.areas; INSERT INTO admisionv1.areas SELECT * FROM admisionv1_old.areas;
CREATE TABLE admisionv1.asignaciones_aulas LIKE admisionv1_old.asignaciones_aulas; INSERT INTO admisionv1.asignaciones_aulas SELECT * FROM admisionv1_old.asignaciones_aulas;
CREATE TABLE admisionv1.asignaturas LIKE admisionv1_old.asignaturas; INSERT INTO admisionv1.asignaturas SELECT * FROM admisionv1_old.asignaturas;
CREATE TABLE admisionv1.audit_trail LIKE admisionv1_old.audit_trail; INSERT INTO admisionv1.audit_trail SELECT * FROM admisionv1_old.audit_trail;
CREATE TABLE admisionv1.aulas LIKE admisionv1_old.aulas; INSERT INTO admisionv1.aulas SELECT * FROM admisionv1_old.aulas;
CREATE TABLE admisionv1.aulas_gestion LIKE admisionv1_old.aulas_gestion; INSERT INTO admisionv1.aulas_gestion SELECT * FROM admisionv1_old.aulas_gestion;
CREATE TABLE admisionv1.avance LIKE admisionv1_old.avance; INSERT INTO admisionv1.avance SELECT * FROM admisionv1_old.avance;
CREATE TABLE admisionv1.avance_postulante LIKE admisionv1_old.avance_postulante; INSERT INTO admisionv1.avance_postulante SELECT * FROM admisionv1_old.avance_postulante;
CREATE TABLE admisionv1.banco_pagos LIKE admisionv1_old.banco_pagos; INSERT INTO admisionv1.banco_pagos SELECT * FROM admisionv1_old.banco_pagos;
CREATE TABLE admisionv1.blogs LIKE admisionv1_old.blogs; INSERT INTO admisionv1.blogs SELECT * FROM admisionv1_old.blogs;
CREATE TABLE admisionv1.cambios LIKE admisionv1_old.cambios; INSERT INTO admisionv1.cambios SELECT * FROM admisionv1_old.cambios;
CREATE TABLE admisionv1.cargos LIKE admisionv1_old.cargos; INSERT INTO admisionv1.cargos SELECT * FROM admisionv1_old.cargos;
CREATE TABLE admisionv1.carpetas LIKE admisionv1_old.carpetas; INSERT INTO admisionv1.carpetas SELECT * FROM admisionv1_old.carpetas;
CREATE TABLE admisionv1.carreras_previas LIKE admisionv1_old.carreras_previas; INSERT INTO admisionv1.carreras_previas SELECT * FROM admisionv1_old.carreras_previas;
CREATE TABLE admisionv1.cepre_estudiantes LIKE admisionv1_old.cepre_estudiantes; INSERT INTO admisionv1.cepre_estudiantes SELECT * FROM admisionv1_old.cepre_estudiantes;
CREATE TABLE admisionv1.certificados LIKE admisionv1_old.certificados; INSERT INTO admisionv1.certificados SELECT * FROM admisionv1_old.certificados;
CREATE TABLE admisionv1.certificados_firma LIKE admisionv1_old.certificados_firma; INSERT INTO admisionv1.certificados_firma SELECT * FROM admisionv1_old.certificados_firma;
CREATE TABLE admisionv1.ciclo LIKE admisionv1_old.ciclo; INSERT INTO admisionv1.ciclo SELECT * FROM admisionv1_old.ciclo;
CREATE TABLE admisionv1.codigos_postulantes LIKE admisionv1_old.codigos_postulantes; INSERT INTO admisionv1.codigos_postulantes SELECT * FROM admisionv1_old.codigos_postulantes;
CREATE TABLE admisionv1.codigovocacional LIKE admisionv1_old.codigovocacional; INSERT INTO admisionv1.codigovocacional SELECT * FROM admisionv1_old.codigovocacional;
CREATE TABLE admisionv1.colegios LIKE admisionv1_old.colegios; INSERT INTO admisionv1.colegios SELECT * FROM admisionv1_old.colegios;
CREATE TABLE admisionv1.comprobante LIKE admisionv1_old.comprobante; INSERT INTO admisionv1.comprobante SELECT * FROM admisionv1_old.comprobante;
CREATE TABLE admisionv1.condiciones_filtro LIKE admisionv1_old.condiciones_filtro; INSERT INTO admisionv1.condiciones_filtro SELECT * FROM admisionv1_old.condiciones_filtro;
CREATE TABLE admisionv1.configuracion_citacion LIKE admisionv1_old.configuracion_citacion; INSERT INTO admisionv1.configuracion_citacion SELECT * FROM admisionv1_old.configuracion_citacion;
CREATE TABLE admisionv1.consultas_reniec LIKE admisionv1_old.consultas_reniec; INSERT INTO admisionv1.consultas_reniec SELECT * FROM admisionv1_old.consultas_reniec;
CREATE TABLE admisionv1.control_biometrico LIKE admisionv1_old.control_biometrico; INSERT INTO admisionv1.control_biometrico SELECT * FROM admisionv1_old.control_biometrico;
CREATE TABLE admisionv1.credencial LIKE admisionv1_old.credencial; INSERT INTO admisionv1.credencial SELECT * FROM admisionv1_old.credencial;
CREATE TABLE admisionv1.data_version LIKE admisionv1_old.data_version; INSERT INTO admisionv1.data_version SELECT * FROM admisionv1_old.data_version;
CREATE TABLE admisionv1.departamento LIKE admisionv1_old.departamento; INSERT INTO admisionv1.departamento SELECT * FROM admisionv1_old.departamento;
CREATE TABLE admisionv1.detalle_examen_simulacro LIKE admisionv1_old.detalle_examen_simulacro; INSERT INTO admisionv1.detalle_examen_simulacro SELECT * FROM admisionv1_old.detalle_examen_simulacro;
CREATE TABLE admisionv1.detalle_examen_vocacional LIKE admisionv1_old.detalle_examen_vocacional; INSERT INTO admisionv1.detalle_examen_vocacional SELECT * FROM admisionv1_old.detalle_examen_vocacional;
CREATE TABLE admisionv1.distritos LIKE admisionv1_old.distritos; INSERT INTO admisionv1.distritos SELECT * FROM admisionv1_old.distritos;
CREATE TABLE admisionv1.docentes LIKE admisionv1_old.docentes; INSERT INTO admisionv1.docentes SELECT * FROM admisionv1_old.docentes;
CREATE TABLE admisionv1.documento LIKE admisionv1_old.documento; INSERT INTO admisionv1.documento SELECT * FROM admisionv1_old.documento;
CREATE TABLE admisionv1.documento_audit LIKE admisionv1_old.documento_audit; INSERT INTO admisionv1.documento_audit SELECT * FROM admisionv1_old.documento_audit;
CREATE TABLE admisionv1.documentos_biometrico LIKE admisionv1_old.documentos_biometrico; INSERT INTO admisionv1.documentos_biometrico SELECT * FROM admisionv1_old.documentos_biometrico;
CREATE TABLE admisionv1.documentos_resultado LIKE admisionv1_old.documentos_resultado; INSERT INTO admisionv1.documentos_resultado SELECT * FROM admisionv1_old.documentos_resultado;
CREATE TABLE admisionv1.documentos_segundas LIKE admisionv1_old.documentos_segundas; INSERT INTO admisionv1.documentos_segundas SELECT * FROM admisionv1_old.documentos_segundas;
CREATE TABLE admisionv1.errores_proceso LIKE admisionv1_old.errores_proceso; INSERT INTO admisionv1.errores_proceso SELECT * FROM admisionv1_old.errores_proceso;
CREATE TABLE admisionv1.estado_civil LIKE admisionv1_old.estado_civil; INSERT INTO admisionv1.estado_civil SELECT * FROM admisionv1_old.estado_civil;
CREATE TABLE admisionv1.eventos_redistribucion LIKE admisionv1_old.eventos_redistribucion; INSERT INTO admisionv1.eventos_redistribucion SELECT * FROM admisionv1_old.eventos_redistribucion;
CREATE TABLE admisionv1.examen_simulacro LIKE admisionv1_old.examen_simulacro; INSERT INTO admisionv1.examen_simulacro SELECT * FROM admisionv1_old.examen_simulacro;
CREATE TABLE admisionv1.examen_tipos LIKE admisionv1_old.examen_tipos; INSERT INTO admisionv1.examen_tipos SELECT * FROM admisionv1_old.examen_tipos;
CREATE TABLE admisionv1.examen_vocacional LIKE admisionv1_old.examen_vocacional; INSERT INTO admisionv1.examen_vocacional SELECT * FROM admisionv1_old.examen_vocacional;
CREATE TABLE admisionv1.excepciones LIKE admisionv1_old.excepciones; INSERT INTO admisionv1.excepciones SELECT * FROM admisionv1_old.excepciones;
CREATE TABLE admisionv1.facultad LIKE admisionv1_old.facultad; INSERT INTO admisionv1.facultad SELECT * FROM admisionv1_old.facultad;
CREATE TABLE admisionv1.failed_jobs LIKE admisionv1_old.failed_jobs; INSERT INTO admisionv1.failed_jobs SELECT * FROM admisionv1_old.failed_jobs;
CREATE TABLE admisionv1.fcm_tokens LIKE admisionv1_old.fcm_tokens; INSERT INTO admisionv1.fcm_tokens SELECT * FROM admisionv1_old.fcm_tokens;
CREATE TABLE admisionv1.filial LIKE admisionv1_old.filial; INSERT INTO admisionv1.filial SELECT * FROM admisionv1_old.filial;
CREATE TABLE admisionv1.grupos_filtro LIKE admisionv1_old.grupos_filtro; INSERT INTO admisionv1.grupos_filtro SELECT * FROM admisionv1_old.grupos_filtro;
CREATE TABLE admisionv1.huellas LIKE admisionv1_old.huellas; INSERT INTO admisionv1.huellas SELECT * FROM admisionv1_old.huellas;
CREATE TABLE admisionv1.ides LIKE admisionv1_old.ides; INSERT INTO admisionv1.ides SELECT * FROM admisionv1_old.ides;
CREATE TABLE admisionv1.ingresantes LIKE admisionv1_old.ingresantes; INSERT INTO admisionv1.ingresantes SELECT * FROM admisionv1_old.ingresantes;
CREATE TABLE admisionv1.ingresos LIKE admisionv1_old.ingresos; INSERT INTO admisionv1.ingresos SELECT * FROM admisionv1_old.ingresos;
CREATE TABLE admisionv1.ingresos_copy LIKE admisionv1_old.ingresos_copy; INSERT INTO admisionv1.ingresos_copy SELECT * FROM admisionv1_old.ingresos_copy;
CREATE TABLE admisionv1.inscripcion_simulacro LIKE admisionv1_old.inscripcion_simulacro; INSERT INTO admisionv1.inscripcion_simulacro SELECT * FROM admisionv1_old.inscripcion_simulacro;
CREATE TABLE admisionv1.inscripciones LIKE admisionv1_old.inscripciones; INSERT INTO admisionv1.inscripciones SELECT * FROM admisionv1_old.inscripciones;
CREATE TABLE admisionv1.jobs LIKE admisionv1_old.jobs; INSERT INTO admisionv1.jobs SELECT * FROM admisionv1_old.jobs;
CREATE TABLE admisionv1.migrations LIKE admisionv1_old.migrations; INSERT INTO admisionv1.migrations SELECT * FROM admisionv1_old.migrations;
CREATE TABLE admisionv1.modalidad LIKE admisionv1_old.modalidad; INSERT INTO admisionv1.modalidad SELECT * FROM admisionv1_old.modalidad;
CREATE TABLE admisionv1.modalidad_estudio LIKE admisionv1_old.modalidad_estudio; INSERT INTO admisionv1.modalidad_estudio SELECT * FROM admisionv1_old.modalidad_estudio;
CREATE TABLE admisionv1.modalidad_proceso LIKE admisionv1_old.modalidad_proceso; INSERT INTO admisionv1.modalidad_proceso SELECT * FROM admisionv1_old.modalidad_proceso;
CREATE TABLE admisionv1.model_has_permissions LIKE admisionv1_old.model_has_permissions; INSERT INTO admisionv1.model_has_permissions SELECT * FROM admisionv1_old.model_has_permissions;
CREATE TABLE admisionv1.model_has_roles LIKE admisionv1_old.model_has_roles; INSERT INTO admisionv1.model_has_roles SELECT * FROM admisionv1_old.model_has_roles;
CREATE TABLE admisionv1.multiplicadores LIKE admisionv1_old.multiplicadores; INSERT INTO admisionv1.multiplicadores SELECT * FROM admisionv1_old.multiplicadores;
CREATE TABLE admisionv1.nacionalidad LIKE admisionv1_old.nacionalidad; INSERT INTO admisionv1.nacionalidad SELECT * FROM admisionv1_old.nacionalidad;
CREATE TABLE admisionv1.notifications LIKE admisionv1_old.notifications; INSERT INTO admisionv1.notifications SELECT * FROM admisionv1_old.notifications;
CREATE TABLE admisionv1.observados_cepre LIKE admisionv1_old.observados_cepre; INSERT INTO admisionv1.observados_cepre SELECT * FROM admisionv1_old.observados_cepre;
CREATE TABLE admisionv1.pabellon_programa LIKE admisionv1_old.pabellon_programa; INSERT INTO admisionv1.pabellon_programa SELECT * FROM admisionv1_old.pabellon_programa;
CREATE TABLE admisionv1.pabellones LIKE admisionv1_old.pabellones; INSERT INTO admisionv1.pabellones SELECT * FROM admisionv1_old.pabellones;
CREATE TABLE admisionv1.pagos LIKE admisionv1_old.pagos; INSERT INTO admisionv1.pagos SELECT * FROM admisionv1_old.pagos;
CREATE TABLE admisionv1.pagos_general LIKE admisionv1_old.pagos_general; INSERT INTO admisionv1.pagos_general SELECT * FROM admisionv1_old.pagos_general;
CREATE TABLE admisionv1.paises LIKE admisionv1_old.paises; INSERT INTO admisionv1.paises SELECT * FROM admisionv1_old.paises;
CREATE TABLE admisionv1.participante_administrativo LIKE admisionv1_old.participante_administrativo; INSERT INTO admisionv1.participante_administrativo SELECT * FROM admisionv1_old.participante_administrativo;
CREATE TABLE admisionv1.participante_docente LIKE admisionv1_old.participante_docente; INSERT INTO admisionv1.participante_docente SELECT * FROM admisionv1_old.participante_docente;
CREATE TABLE admisionv1.participantes LIKE admisionv1_old.participantes; INSERT INTO admisionv1.participantes SELECT * FROM admisionv1_old.participantes;
CREATE TABLE admisionv1.participantes_simulacro LIKE admisionv1_old.participantes_simulacro; INSERT INTO admisionv1.participantes_simulacro SELECT * FROM admisionv1_old.participantes_simulacro;
CREATE TABLE admisionv1.participantes_simulacro_externo LIKE admisionv1_old.participantes_simulacro_externo; INSERT INTO admisionv1.participantes_simulacro_externo SELECT * FROM admisionv1_old.participantes_simulacro_externo;
CREATE TABLE admisionv1.paso LIKE admisionv1_old.paso; INSERT INTO admisionv1.paso SELECT * FROM admisionv1_old.paso;
CREATE TABLE admisionv1.password_reset_tokens LIKE admisionv1_old.password_reset_tokens; INSERT INTO admisionv1.password_reset_tokens SELECT * FROM admisionv1_old.password_reset_tokens;
CREATE TABLE admisionv1.password_resets LIKE admisionv1_old.password_resets; INSERT INTO admisionv1.password_resets SELECT * FROM admisionv1_old.password_resets;
CREATE TABLE admisionv1.patron LIKE admisionv1_old.patron; INSERT INTO admisionv1.patron SELECT * FROM admisionv1_old.patron;
CREATE TABLE admisionv1.permissions LIKE admisionv1_old.permissions; INSERT INTO admisionv1.permissions SELECT * FROM admisionv1_old.permissions;
CREATE TABLE admisionv1.personal_access_tokens LIKE admisionv1_old.personal_access_tokens; INSERT INTO admisionv1.personal_access_tokens SELECT * FROM admisionv1_old.personal_access_tokens;
CREATE TABLE admisionv1.ponderacion LIKE admisionv1_old.ponderacion; INSERT INTO admisionv1.ponderacion SELECT * FROM admisionv1_old.ponderacion;
CREATE TABLE admisionv1.ponderacion_simulacro LIKE admisionv1_old.ponderacion_simulacro; INSERT INTO admisionv1.ponderacion_simulacro SELECT * FROM admisionv1_old.ponderacion_simulacro;
CREATE TABLE admisionv1.postulante LIKE admisionv1_old.postulante; INSERT INTO admisionv1.postulante SELECT * FROM admisionv1_old.postulante;
CREATE TABLE admisionv1.pre_inscripcion LIKE admisionv1_old.pre_inscripcion; INSERT INTO admisionv1.pre_inscripcion SELECT * FROM admisionv1_old.pre_inscripcion;
CREATE TABLE admisionv1.preguntas LIKE admisionv1_old.preguntas; INSERT INTO admisionv1.preguntas SELECT * FROM admisionv1_old.preguntas;
CREATE TABLE admisionv1.preguntas simulacro LIKE admisionv1_old.preguntas simulacro; INSERT INTO admisionv1.preguntas simulacro SELECT * FROM admisionv1_old.preguntas simulacro;
CREATE TABLE admisionv1.proceso_monto_comprobante LIKE admisionv1_old.proceso_monto_comprobante; INSERT INTO admisionv1.proceso_monto_comprobante SELECT * FROM admisionv1_old.proceso_monto_comprobante;
CREATE TABLE admisionv1.proceso_requisito LIKE admisionv1_old.proceso_requisito; INSERT INTO admisionv1.proceso_requisito SELECT * FROM admisionv1_old.proceso_requisito;
CREATE TABLE admisionv1.procesos LIKE admisionv1_old.procesos; INSERT INTO admisionv1.procesos SELECT * FROM admisionv1_old.procesos;
CREATE TABLE admisionv1.programa LIKE admisionv1_old.programa; INSERT INTO admisionv1.programa SELECT * FROM admisionv1_old.programa;
CREATE TABLE admisionv1.programas_proceso LIKE admisionv1_old.programas_proceso; INSERT INTO admisionv1.programas_proceso SELECT * FROM admisionv1_old.programas_proceso;
CREATE TABLE admisionv1.provincia LIKE admisionv1_old.provincia; INSERT INTO admisionv1.provincia SELECT * FROM admisionv1_old.provincia;
CREATE TABLE admisionv1.puntajes LIKE admisionv1_old.puntajes; INSERT INTO admisionv1.puntajes SELECT * FROM admisionv1_old.puntajes;
CREATE TABLE admisionv1.rbac_actions LIKE admisionv1_old.rbac_actions; INSERT INTO admisionv1.rbac_actions SELECT * FROM admisionv1_old.rbac_actions;
CREATE TABLE admisionv1.rbac_modules LIKE admisionv1_old.rbac_modules; INSERT INTO admisionv1.rbac_modules SELECT * FROM admisionv1_old.rbac_modules;
CREATE TABLE admisionv1.rbac_permissions LIKE admisionv1_old.rbac_permissions; INSERT INTO admisionv1.rbac_permissions SELECT * FROM admisionv1_old.rbac_permissions;
CREATE TABLE admisionv1.rbac_role_permissions LIKE admisionv1_old.rbac_role_permissions; INSERT INTO admisionv1.rbac_role_permissions SELECT * FROM admisionv1_old.rbac_role_permissions;
CREATE TABLE admisionv1.rbac_user_permissions LIKE admisionv1_old.rbac_user_permissions; INSERT INTO admisionv1.rbac_user_permissions SELECT * FROM admisionv1_old.rbac_user_permissions;
CREATE TABLE admisionv1.rbac_views LIKE admisionv1_old.rbac_views; INSERT INTO admisionv1.rbac_views SELECT * FROM admisionv1_old.rbac_views;
CREATE TABLE admisionv1.registro_sincronizacion LIKE admisionv1_old.registro_sincronizacion; INSERT INTO admisionv1.registro_sincronizacion SELECT * FROM admisionv1_old.registro_sincronizacion;
CREATE TABLE admisionv1.registros_intercambios LIKE admisionv1_old.registros_intercambios; INSERT INTO admisionv1.registros_intercambios SELECT * FROM admisionv1_old.registros_intercambios;
CREATE TABLE admisionv1.reglamento LIKE admisionv1_old.reglamento; INSERT INTO admisionv1.reglamento SELECT * FROM admisionv1_old.reglamento;
CREATE TABLE admisionv1.requisito_detalle LIKE admisionv1_old.requisito_detalle; INSERT INTO admisionv1.requisito_detalle SELECT * FROM admisionv1_old.requisito_detalle;
CREATE TABLE admisionv1.requisito_documento LIKE admisionv1_old.requisito_documento; INSERT INTO admisionv1.requisito_documento SELECT * FROM admisionv1_old.requisito_documento;
CREATE TABLE admisionv1.requisito_modalidad LIKE admisionv1_old.requisito_modalidad; INSERT INTO admisionv1.requisito_modalidad SELECT * FROM admisionv1_old.requisito_modalidad;
CREATE TABLE admisionv1.requisito_programa LIKE admisionv1_old.requisito_programa; INSERT INTO admisionv1.requisito_programa SELECT * FROM admisionv1_old.requisito_programa;
CREATE TABLE admisionv1.requisito_tipo_documento LIKE admisionv1_old.requisito_tipo_documento; INSERT INTO admisionv1.requisito_tipo_documento SELECT * FROM admisionv1_old.requisito_tipo_documento;
CREATE TABLE admisionv1.requisitos LIKE admisionv1_old.requisitos; INSERT INTO admisionv1.requisitos SELECT * FROM admisionv1_old.requisitos;
CREATE TABLE admisionv1.res LIKE admisionv1_old.res; INSERT INTO admisionv1.res SELECT * FROM admisionv1_old.res;
CREATE TABLE admisionv1.respuestas LIKE admisionv1_old.respuestas; INSERT INTO admisionv1.respuestas SELECT * FROM admisionv1_old.respuestas;
CREATE TABLE admisionv1.respuestas_simulacro LIKE admisionv1_old.respuestas_simulacro; INSERT INTO admisionv1.respuestas_simulacro SELECT * FROM admisionv1_old.respuestas_simulacro;
CREATE TABLE admisionv1.resultados LIKE admisionv1_old.resultados; INSERT INTO admisionv1.resultados SELECT * FROM admisionv1_old.resultados;
CREATE TABLE admisionv1.resultados_segundas LIKE admisionv1_old.resultados_segundas; INSERT INTO admisionv1.resultados_segundas SELECT * FROM admisionv1_old.resultados_segundas;
CREATE TABLE admisionv1.revision_solicitudes LIKE admisionv1_old.revision_solicitudes; INSERT INTO admisionv1.revision_solicitudes SELECT * FROM admisionv1_old.revision_solicitudes;
CREATE TABLE admisionv1.revisor_aliases LIKE admisionv1_old.revisor_aliases; INSERT INTO admisionv1.revisor_aliases SELECT * FROM admisionv1_old.revisor_aliases;
CREATE TABLE admisionv1.role_has_permissions LIKE admisionv1_old.role_has_permissions; INSERT INTO admisionv1.role_has_permissions SELECT * FROM admisionv1_old.role_has_permissions;
CREATE TABLE admisionv1.roles LIKE admisionv1_old.roles; INSERT INTO admisionv1.roles SELECT * FROM admisionv1_old.roles;
CREATE TABLE admisionv1.sancionados LIKE admisionv1_old.sancionados; INSERT INTO admisionv1.sancionados SELECT * FROM admisionv1_old.sancionados;
CREATE TABLE admisionv1.selecciones_columnas LIKE admisionv1_old.selecciones_columnas; INSERT INTO admisionv1.selecciones_columnas SELECT * FROM admisionv1_old.selecciones_columnas;
CREATE TABLE admisionv1.semesters LIKE admisionv1_old.semesters; INSERT INTO admisionv1.semesters SELECT * FROM admisionv1_old.semesters;
CREATE TABLE admisionv1.settings LIKE admisionv1_old.settings; INSERT INTO admisionv1.settings SELECT * FROM admisionv1_old.settings;
CREATE TABLE admisionv1.simulacro LIKE admisionv1_old.simulacro; INSERT INTO admisionv1.simulacro SELECT * FROM admisionv1_old.simulacro;
CREATE TABLE admisionv1.smtp_accounts LIKE admisionv1_old.smtp_accounts; INSERT INTO admisionv1.smtp_accounts SELECT * FROM admisionv1_old.smtp_accounts;
CREATE TABLE admisionv1.tarifas LIKE admisionv1_old.tarifas; INSERT INTO admisionv1.tarifas SELECT * FROM admisionv1_old.tarifas;
CREATE TABLE admisionv1.telescope_entries LIKE admisionv1_old.telescope_entries; INSERT INTO admisionv1.telescope_entries SELECT * FROM admisionv1_old.telescope_entries;
CREATE TABLE admisionv1.telescope_entries_tags LIKE admisionv1_old.telescope_entries_tags; INSERT INTO admisionv1.telescope_entries_tags SELECT * FROM admisionv1_old.telescope_entries_tags;
CREATE TABLE admisionv1.telescope_monitoring LIKE admisionv1_old.telescope_monitoring; INSERT INTO admisionv1.telescope_monitoring SELECT * FROM admisionv1_old.telescope_monitoring;
CREATE TABLE admisionv1.temp_califcacion_vocacional LIKE admisionv1_old.temp_califcacion_vocacional; INSERT INTO admisionv1.temp_califcacion_vocacional SELECT * FROM admisionv1_old.temp_califcacion_vocacional;
CREATE TABLE admisionv1.temp_califcacion_vocacional_extra LIKE admisionv1_old.temp_califcacion_vocacional_extra; INSERT INTO admisionv1.temp_califcacion_vocacional_extra SELECT * FROM admisionv1_old.temp_califcacion_vocacional_extra;
CREATE TABLE admisionv1.temp_revision LIKE admisionv1_old.temp_revision; INSERT INTO admisionv1.temp_revision SELECT * FROM admisionv1_old.temp_revision;
CREATE TABLE admisionv1.temporal LIKE admisionv1_old.temporal; INSERT INTO admisionv1.temporal SELECT * FROM admisionv1_old.temporal;
CREATE TABLE admisionv1.tipo_apoderado LIKE admisionv1_old.tipo_apoderado; INSERT INTO admisionv1.tipo_apoderado SELECT * FROM admisionv1_old.tipo_apoderado;
CREATE TABLE admisionv1.tipo_documento LIKE admisionv1_old.tipo_documento; INSERT INTO admisionv1.tipo_documento SELECT * FROM admisionv1_old.tipo_documento;
CREATE TABLE admisionv1.tipo_documento_identidad LIKE admisionv1_old.tipo_documento_identidad; INSERT INTO admisionv1.tipo_documento_identidad SELECT * FROM admisionv1_old.tipo_documento_identidad;
CREATE TABLE admisionv1.tipo_participante LIKE admisionv1_old.tipo_participante; INSERT INTO admisionv1.tipo_participante SELECT * FROM admisionv1_old.tipo_participante;
CREATE TABLE admisionv1.tipo_proceso LIKE admisionv1_old.tipo_proceso; INSERT INTO admisionv1.tipo_proceso SELECT * FROM admisionv1_old.tipo_proceso;
CREATE TABLE admisionv1.tipo_seleccion LIKE admisionv1_old.tipo_seleccion; INSERT INTO admisionv1.tipo_seleccion SELECT * FROM admisionv1_old.tipo_seleccion;
CREATE TABLE admisionv1.ubicacion_aula LIKE admisionv1_old.ubicacion_aula; INSERT INTO admisionv1.ubicacion_aula SELECT * FROM admisionv1_old.ubicacion_aula;
CREATE TABLE admisionv1.ubigeo LIKE admisionv1_old.ubigeo; INSERT INTO admisionv1.ubigeo SELECT * FROM admisionv1_old.ubigeo;
CREATE TABLE admisionv1.users LIKE admisionv1_old.users; INSERT INTO admisionv1.users SELECT * FROM admisionv1_old.users;
CREATE TABLE admisionv1.vacantes LIKE admisionv1_old.vacantes; INSERT INTO admisionv1.vacantes SELECT * FROM admisionv1_old.vacantes;
CREATE TABLE admisionv1.verificacion LIKE admisionv1_old.verificacion; INSERT INTO admisionv1.verificacion SELECT * FROM admisionv1_old.verificacion;
